{% for post in posts %}
    <div class="detail-post">
        <div class="mt-1">
            <div class="tag">
                {% include "post/partials/list_tag.html" %}
            </div>
        </div>  

        <div class="img-post mt-1">
            {% if post.image %}
                <img src="{{ post.image.url }}" class="set-image"/>
            {% else %}
                <img src="https://via.placeholder.com/300x200.jpg" class="set-image">
            {% endif %}
        </div>

        <div class="mt-1">
            <p>Date: {{ post.created_at|date:"M d, Y" }}</p>
            <p class="mt-1">Create by: {{ post.author }}</p>
            <h2 class="mt-1">{{ post.title }}</h2>
            <p class="read-next mt-1"><a href="{% url 'post:detail' post.slug%}">Read full post <i class="fa-solid fa-arrow-right"></a></i></p>
        </div>
    </div>
{% endfor %}