button {
    border-radius: 0.75rem;
}

.login {
    display: flex;
    align-items: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    justify-content: center;
}

.login-form {
    background-color: #AD53A6;
    padding: 4rem;
    margin: 2rem;
}

.register {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.label {
    display: inline-block;
}

.text-input {
    border-radius: 0.5rem;
    width: 100%;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

/* signup */

.name-form {
    display: flex;
    gap: 2rem;
}

