main {
    margin: 0 3rem;
    /* max-width: 80rem; */
}

.title {
    margin-top: 2rem;
    text-align: center;
}

.list-post {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.detail-post {
    background-color:rgb(134 239 172);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
}

.img-post {
    border-radius: 0.75rem;
}

.description-post {
    margin-top: 0.75rem;
}

.mt-1 {
    margin-top: 1rem;
}