h1 {
    font-size: xx-large;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.header-post {
    display: flex;
    gap: 1rem;
}

.header-post-left {
    width: 40%;
}

.header-post-right {
    width: 60%;
}

.text {
    line-height: 1.4;
    word-spacing: 1.5px;
    letter-spacing: 0.8px;
}

.bg-gray {
    background-color: gray;
    height: 100px;
}

.body-post {
    display: flex;
    gap: 1rem;
}

.list-category a {
    font-size: 1.25rem;
}

.list-tag a {
    font-size: 1rem;
}

.title {
    text-align: center;
}

.textarea-select {
    display: flex;
    gap: 2rem;
}

.list-post-tag {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.post-metadata {
    width: 60%;
}

.edit-delete-button {
    width: 40%;
}

.post {
    display: flex;
}