{% extends "core/base.html" %}

{% block title %}Edit Account{% endblock %}

{% block content %}
    <main class="main">
        <div class="header-post">
            <div class="header-post-left">
                <h1 class="mt-2">{{ post.title }}</h1>
                <p class="mt-1 text">{{ post.summary }}</p>
            </div>

            <div class="header-post-right">
                {% if post.image %}
                    <image src="{{ post.image.url }}" class="set-image">
                {% else %}
                    <image src=""/>
                {% endif %}
            </div>
        </div>

        <hr />

        <div class="body-post mt-3">
            <div class="header-post-left">
                <div class="list-category">
                    {% for category in post.categories.all %}
                        <a href="#">{{ category.title }}</a>
                    {% endfor %}
                </div>
                <div class="list-tag mt-1">
                    {% include "post/partials/list_tag.html" %}
                </div>
            </div>

            <div class="header-post-rigth">
                <h3 class="title">{{ post.meta_title }}</h3>

                <p class="text mt-1">{{ post.content }}</p>
            </div>
        </div>
    </main>
{% endblock %}