<!doctype html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/reset.css"/>
        <link rel="stylesheet" href="/static/css/base.css"/>
        {% block css %} {% endblock css %}
        
        {% comment %} google font {% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">
        {% comment %} fontawesome {% endcomment %}
        {% load static %}
        <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
        {% load static %}
        <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
    </head>

    <body>
        <nav>
            <h3>Blog Website</h3>

            <div class="nav-middle-button">
                <a href="{% url 'core:homepage' %}">Home</a>
                <a href="#">My Blog</a>
                <a href="#">Potfolio</a>
            </div>
            
            {% if request.user.is_authenticated %}
                <a href="{% url 'core:myaccount' %}" class="login-button">{{ request.user.last_name }}<i class="fa-solid fa-user"></i></a>
            {% else %}
                <a href="{% url 'core:login' %}" class="login-button">Login <i class="fa-solid fa-arrow-right"></i></i></a>
            {% endif %}
        </nav>

        {% block content %}
        {% endblock %}
    </body>

    <footer>
        <div class="footer-first">
            <h3>My Blog</h3>
            
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>

        <div class="footer-second">
                <a href="#" class="">Home</a>
                <a href="#" class="">My Blog</a>
                <a href="#" class="">Potfolio</a>
        </div>
    </footer>
</html>