{% extends "core/base.html" %}

{% block title %}Your Profile{% endblock %}

{% block content %}
    <main class="myaccount">
        <a href="{% url 'post:new' %}" class="new-post-button mt-1" >New Post</a>

        <h2 class="title">Your Posts</h2>
        <div class="list-your-post mt-2">
            {% for post in posts %}
                <div class="post mt-1">
                    <div class="post-metadata">
                        <p>{{ post.title }}</p>
                        <p class="mt-small"><strong>Date:</strong> {{ post.created_at }}</p>
                        <a href="{% url 'post:detail' post.slug %}" class="mt-small inline-block">See post</a>
                    </div>
                   
                    <div class="edit-delete-button">
                        <a href="{% url 'post:edit' post.id %}" class="new-post-button">Edit</a>
                        <a href="{% url 'post:delete' post.id %}" class="new-post-button">Delete</a>
                    </div>
                </div>
                <hr/>
            {% endfor %}
        </div>
    </main>
{% endblock %}