{% extends "core/base.html" %}

{% block title %}Your Profile{% endblock %}

{% block content %}
    <main class="myaccount">
        <div class="mt-2">
            <p class="mt-1"><strong>Username:</strong> {{ request.user.username }}<p>
            <p class="mt-1"><strong>Yourname:</strong> {{ request.user.get_full_name }}</p>
            <p class="mt-1"><strong>Email:</strong> {{ request.user.email }}</p>
        </div>

        <div class="mt-1">
            <a href="{% url 'core:logout' %}">Logout</a> | 
            <a href="{% url 'core:edit_account' %}">Edit Account</a>
        <div>

        
        <a href="{% url 'post:new' %}" class="new-post-button mt-1" >New Post</a>

        <div class="mt-2">
            <h2>Your Posts</h2>
            {% for post in posts %}
                <div class="post mt-1">
                    <p>{{ post.title }}</p>
                    <p><strong>Date:</strong> {{ post.created_at }}</p>
                    <a href="{% url 'post:detail' post.slug %}">Full post</a>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}